.rover-file-manager {
    overflow-y: scroll;
    overflow-x: hidden;
    flex: 0 auto;
    height: 100%;
    padding: 10px 0;
    margin-bottom: unset;

    .rover-file {
        max-width: 250px;
    }

    .rover-folder-container,
    .rover-file {
        padding: 5px 0;
    }

    &.highlight {
        background-color: var(--background-primary-alt);
    }
}

.rover-folder-container {
    & > .rover-folder.expanded {
        padding-bottom: 5px;
    }

    &.hovered {
        background-color: var(--background-primary-alt);
    }

    & :has(.rover-folder.expanded) {
        padding-bottom: unset;
    }

    .rover-folder {
        display: flex;
        align-items: center;
        color: var(--color-base-70);

        & > .lucide-folder {
            color: var(--color-base-50);
            margin-right: 10px;
        }
    }
}

.rover-file > input,
.rover-folder > input,
.rover-action-create > input {
    font-family: var(--font-interface-theme);
    font-weight: var(--nav-item-weight);
    font-size: var(--nav-item-size);

    background-color: var(--background-primary-alt);
    outline: 0px;
    border: 1px solid var(--background-modifier-border-focus);
    border-radius: var(--radius-s);
    padding: 2px 0px;
    padding-left: 4px;
    width: 140px;

    color: var(--text-normal);
}

.rover-action-create {
    width: fit-content;
    height: 40px;
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    border-radius: var(--radius-m);
    background-color: var(--background-modifier-form-field);

    & > input {
        width: 140px;
        margin-left: 5px;
    }

    & > button {
        width: 25px;
        height: 25px;
        background-color: var(--color-base-25);
        border: var(--border-width) solid var(--color-base-35);
        padding: unset;
    }

    & > button .rover-lucide {
        color: var(--icon-color-active);
    }
}
